.background {
    background-color: #3468fa;
    display: flex;
    justify-content: end;
}

body {
    margin:0;
}

.hurblogo {
    width: 20%;
}

.hurblogo2{
    width: 200px;
    border-radius: 25px;
}

.pixlogo {
    /*height: 114.69;
    width: 107px;
    align-self: center;*/
    width: 300px;
}

.central {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 75px;
} 

.check {
    height: 500px;
    width: 500px;
}

.button {
    height: 150px;
    width: 360px;
    background-color: #3468fa;
    border-radius: 60px;
    align-self: center;
    font-size: 50px;
    color: white;
}

#logo {
    display: flex;
    justify-content: center;  
}

body {
    font-family: montserrat;
}

header {
    width: 100%;
    height: 100px;
    background-color: #3468fa;
}

.button2 {
    height: 150px;
    width: 360px;
    border-radius: 60px;
    border-color: #3468fa;
    align-self: center;
    font-size: 50px;
}

#checkmark {
    display: flex;
    justify-content: center;  
}

.input {
    width: 200px;
    height: 50px;
}