body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.background{
    background-color: white; 
    height: 926px;
    width: 38vh;
}
.topBar {
    width: 100%;
    height: 10%;
    background-color: purple;
}

.turn{
    display: flex;
    height: 10%;
    background-color: #3468fA;
}
.photo{
    width: 35%;
    background-color: #3468fA;
    margin-left: 30vh;
}
 
.flecha{
    width:60px;
    height:60px;
    margin-top:15px;
    
}

.digitos{
    display: flex;
}

.dBox1{
    background-color: C4C4C4;
    border: 1;
   border-radius: 25px;
   height: 80px;
   width: 80px;
   border-color: #3468FC;
   font-size: 130%;
   margin-left: 20px;
   margin-top: 20px;
}
.coluna{
    width: 20%;
    justify-content:end;
}
.escrita{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}



.numbers{

  height: 50px;
  justify-content: center;
  margin: auto;
}

.row {
   margin-left: 150px;
}
.escrita{
    color: #3468fA;
}